.BattleBoard {
  display: flex;
  flex-direction: column-reverse;
  width: 300px;
  margin-inline: auto;
  max-width: 100%;
}

.BattleBoard__Separator {
  background-color: currentColor;
  height: 40px;
  width: 4px;
  align-self: center;
}
