.PokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px !important;
  padding: 16px;
}

.PokemonCard__Sprite {
  max-height: 100px;
}

.PokemonCard__PkmnName {
  font-weight: 600;
}
