@reference "../../../../index.css";

.DailyChallengeGameplay__Grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.25rem;

  .DailyChallengeGameplay__GridItem {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.25rem;
    height: 4.25rem;
    @apply tw:bg-secondary;
    &--header {
      height: 2rem;
      padding: 2px;
    }

    &--correct {
      @apply tw:bg-positive;
    }

    &--incorrect {
      @apply tw:bg-amber-500;
    }
  }
}
