.Card {
  position: relative;
  border-width: 0;

  &::before,
  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    inset: -2px;
    border-radius: 14px;
    animation: rotate-bg 10s linear infinite;
    background: conic-gradient(
      from var(--bg-angle),
      var(--type1-color),
      var(--type2-color) var(--type2-start-percentage),
      var(--type1-color) var(--type2-end-percentage)
    );
  }

  &::after {
    filter: blur(5px);
  }
}

@property --bg-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotate-bg {
  0% {
    --bg-angle: 0deg;
  }
  100% {
    --bg-angle: 360deg;
  }
}
