.BattleScreen__AutocompletePaper {
  background-color: #121212d4 !important;
}

.BattleScreen__Contents {
  width: 100%;
  max-width: 700px;
}

.BattleScreen__PokemonIcon {
  margin-right: 4px;
  height: 40px;
  width: 40px;
  object-position: bottom;
  object-fit: none;
}
