.PokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px !important;
  padding: 0 16px 16px;
}

.PokemonCard__PkmnName {
  font-weight: 600;
  text-transform: capitalize;
}
