#root {
  --pokeball-red: #ee1515;
  --pokeball-stripe: #222224;
  --pokeball-white: #f0f0f0;

  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > * {
    flex: 1;
  }
}
