@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pokeball-red: #ee1515;
  --pokeball-stripe: #222224;
  --pokeball-white: #f0f0f0;

  --default-text-color: #213547;
  --default-bg-color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--default-text-color);
  background-color: var(--default-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-text-color: rgba(255, 255, 255, 0.87);
    --default-bg-color: #242424;
  }
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
