.PageContainer {
  --header-height: 60px;
  --page-padding-y: 40px;
  --page-padding-x: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: calc(var(--page-padding-y) + var(--header-height))
    var(--page-padding-x) var(--page-padding-y);
  min-height: 100dvh;
  overflow: hidden;

  @media (max-width: 768px) {
    --page-padding-x: 20px;
    --page-padding-y: 20px;
  }

  @media (max-width: 640px) {
    --page-padding-x: 10px;
    --page-padding-y: 10px;
  }
}
