.PageContainer {
  --header-height: 60px;
  --footer-height: env(safe-area-inset-bottom);
  --page-padding-y: 40px;
  --page-padding-x: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: calc(var(--page-padding-y) + var(--header-height))
    var(--page-padding-x) calc(var(--page-padding-y) + var(--footer-height));
  min-height: 100dvh;
  overflow: hidden;

  &.KeyboardOpen {
    --footer-height: 0px;
  }

  @media (max-width: 768px) {
    --page-padding-x: 20px;
    --page-padding-y: 20px;
  }

  @media (max-width: 640px) {
    --footer-height: calc(54px + env(safe-area-inset-bottom));
    --page-padding-x: 10px;
    --page-padding-y: 10px;
  }
}
